---
layout: handbook-page-toc
title: Product Division Performance Indicators
---
## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= partial("handbook/product/product-handbook-links") %>

Product Performance Indicators have permanently moved to our internal handbook. GitLab team members can access and update all performance indicators within the internal handbook via `Okta > GitLab Internal Handbook`.  
